<h1>
  <%= @the_topic.name %>
</h1>

<article>
  <div>
    <%= @the_topic.description %>
  </div>
</article>

<article>
  <h3>
    Upload any notes, class slides, or materials you have on your topic
  </h3>
  <form action="/insert_note" method="post">
    <div>
      <label for="content_box">
        Content
      </label>
      <input type="text" id="content_box" name="query_content">
    </div>
    <input type="text" id="topic_box" name="query_topic_id" value=<%= @the_topic.id %> hidden>
    <button type="submit">
      Upload note
    </button>
  </form>

  <div>
    <ul>
      <% @list_of_notes.each do |a_note| %>
        <li>
          <div>
          Note #<%= a_note.id %>
          </div>
          <div>
            <%= "#{a_note.content[0..37]}..." %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</article>
